{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}404 ERROR{% endblock %}</h1>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static',filename='404.css') }}">
    <h1>404 Error</h1>
    <h2>The requested URL was not found on this server.</h2>
    <ul>
        <li>Check the URL for any typos or errors.</li>
        <li>Try searching for the page you were looking for.</li>
        <li>If you're the site owner, ensure that the page exists and is properly configured.</li>
    </ul>
    {% endblock %}