{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Admin @ login{% endblock %}</h1>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static',filename='login.css') }}">
    <div class="container">
        <h1>Photo Studio Login | Admin</h1>
        <form action="" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <a href="#" class="fp">Forgot Password?</a>
            <button type="submit">Login As Admin</button>
        </form>
    </div>
    {% endblock %}

