{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Scan QR{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form action="" method="post">
        <input type="number" name="function_id" id="function_id" value="" required />
    </form>
   <link rel="stylesheet" href="{{ url_for('static',filename='scanQr.css') }}">
    <div style="width: 500px" id="reader"></div>
    <footer>
        <p>© 2024 Photo Studio</p>
    </footer>
<script src="{{ url_for('static', filename='html5-qrcode.min.js') }}"></script>
<script>
    console.log(document.forms)
    function onScanSuccess(decodedText, decodedResult) {
        // Handle on success condition with the decoded text or result.
        document.getElementById("reader").remove();
        console.log(`Scan result: ${decodedText}`, decodedResult);
        fetch(decodedText, {
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json",
            },
            method: "POST"
        }).finally(() => {
            window.location = window.location.origin;
        })
    }

    function onScanError(errorMessage) {
        // handle on error condition, with error message
    }

    var html5QrcodeScanner = new Html5QrcodeScanner("reader", {
        fps: 10,
        qrbox: 250,
    });
    html5QrcodeScanner.render(onScanSuccess, onScanError);
</script>

{% endblock %}