{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Signup{% endblock %}</h1>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static',filename='login.css') }}">
    <div class="container">
        <h1>Photo Studio</h1>
    <form action="" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="date_of_birth">Date of Birth:</label>
      <input type="date" id="date_of_birth" name="dob"><br><br>
      <input type="submit" value="Signup">
    </form>
    </div>
{% endblock %}